h1
{
    font-size: 120px;
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;


}

.fondoTitulo {

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 95px;
    color: white;
    background-size: cover;
    background-position: center;
    height: 400px; 
    background: url("../Imagen/qarixtl1lkh5y19zaiyn.jpg");

    color: darkblue

}
.texto
{ 

}
.texto p
{ 
    padding-bottom: 10px;
    font-size: 16px;

}
.columna
{ 
    width: 200px;
    background: 
        border: solid black 2px; 
    margin: 10px;
    height: 600px;
    font-size: 16px;





}
.panelUno
{
    border: solid red 2px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;


    background: url("../Imagen/A1.jpg")
}


